@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leitura de registros de ligações.</h1>
    Para enviar seu arquivo clique @Html.ActionLink("aqui", "Index", "Arquivo") ou utilize o menu superior.
</div>